<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FileSharingWebAppUsingAzureStorage</title>
    <base href="~/" />
</head>
<body>
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - FileSharingWebAppUsingAzureStorage</p>
        <p>Developed by - <a href="#" target="_blank">Tarak Chandra Sarkar</a> - This is an open-source project <a href="https://github.com/Tarak-Chandra-Sarkar/FileSharingWebAppUsingAzureStorage" target="_blank">FileSharingWebAppUsingAzureStorage GitHub</a></p>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>